<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zefhyros.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MedioDePago" />
        <activity android:name=".VerPerfil" />
        <activity android:name=".acompanante" />
        <activity android:name=".editarverperfil" />
        <activity android:name=".homepage" />
        <activity android:name=".iniciarsesion" />
        <activity android:name=".paquetes" />
        <activity android:name=".registo"></activity>
    </application>

</manifest>